body {
  background-image: url(https://scx1.b-cdn.net/csz/news/800a/2015/theresplende.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: arial, sans-serif;
  color: white;
}
h1 {
  color: white;
  font-weight: bold;
  line-height: 19px;
  font-size: 30px;
  padding: 5px 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  font-size: 18px;
  font-weight: bold;
  list-style: none;
  line-height: 19px;
  color: white;
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-left: 10px;
}
.temperature {
  color: white;
  font-size: 45px;
  line-height: 1;
}
.units {
  position: relative;
  font-size: 12px;
  top: -13px;
  color: white;
}
.weather-temperature .active {
  color: white;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forcast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: white;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}
